.navegador{
    width: 100%;
    height: 80px;
    background-color: #023859;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
}

.logoNav{
    height: 60px;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
    transition: all 0.3s;
}

.logoNav:hover{
    transform: scale(1.05);
}



.navList{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.navList a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList a:hover{
    background-color: #e6344a;
}

.navList a div{
    display: flex;
}

.navList a p{
    margin-left: 10px;
}
